duckduckgo-search
langchain-ollama
langchain-community
langchain
sqlalchemy
streamlit
psycopg2-binary
pandas
plotly
yfinance
python-dateutil
quiffen
matplotlib
llama-index-core
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-vector-stores-chroma
llama-index-readers-database
chromadb
pypdf
